.topnav {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.left {
  display: flex;
  justify-content: flex-start;
}

.right {
  display: flex;
  justify-content: flex-end;
}

li {
  padding: 10px;
}

a {
  color: black;
  font-family: sans-serif;
  text-decoration: none;
}


#logo {
  display: block;
  margin: auto;
  padding-top: 8%;
  width: 22%;
}

input {
  display: block;
  margin: auto;
  margin-top: 20px;
  width: 40%;
  padding: 15px;
  border-radius: 25px;
  border: 1px solid #dfe1e5;
}
